
.main{
    position: relative;
    bottom: 0;
    background-color: #D6D6D7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    /* padding: 20px; */
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 805px) {
    .container{
        width: 95%;
    }
}

.container p{
    color: grey;
    
    margin: 0;
}

.container a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.container a:hover{
    color: blue;
}

.container .footer_logo{
    color: lightseagreen;
    font-size: 30px;
    width: 50px;
}
.container .footer_logo:hover{
    color: lightseagreen;
}